__pycache__/
.ipynb_checkpoints/
data/*
!data/inference
data/inference/*
!data/inference/observation.csv
logs/
.idea/
output/
scripts/old/
sbi-logs/
notes/
plots/*
!plots/model_schematic.png
!plots/inference_flowchart.png
.Rproj.user
.Rhistory
_temporary_command_*.txt
